:root {
  --main-color: #9a98fc;
  --accent-color: #7776c6;
  --main-background: #c4c4c4;
  --background-accent: #989898;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  min-height: 100px;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--accent-color);
  max-height: 40px;
  min-width: 200px;
  margin-top: 10px;
}

.title {
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 216px;
  background-color: var(--main-background);
}

.circle {
  background-color: var(--accent-color);
  border-radius: 50%;
  min-width: 152px;
  min-height: 152px;
  position: relative;
}

.spacer {
  min-height: 26px;
  background-color: var(--main-color);
}

.showcase {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 299px;
}

.showcaseBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(16px);
  z-index: -1;
  /*background: url(photo-1516321318423-f06f85e504b3.jpg);*/
  mix-blend-mode: normal;
  border: 8px solid var(--main-color);
}

.showcaseItem {
  border-radius: 50%;
  min-height: 200px;
  min-width: 200px;
  background-color: var(--accent-color);
}

.showcaseItemText {
  position: relative;
  top: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45px;
  min-width: 200px;
  background-color: var(--main-background);
  border: 8px solid var(--accent-color);
}

.leftCaption {
  display: flex;
  min-height: 600px;
  background-color: var(--background-accent);
}

.leftCaptionCaption {
  min-width: 60vw;
  display: flex;
}

.leftCaptionImage {
  width: 40vw;
  min-height: 600px;
  /*background: url(photo-1463171379579-3fdfb86d6285.jpg);*/
  border: 16px solid var(--accent-color);
}

.greyBox1 {
  min-width: 150px;
  min-height: 600px;
  background-color: var(--main-background);
}

.greyBox2 {
  max-width: 490px;
  min-height: 100px;
  background-color: var(--main-background);
}

.greyCircle {
  border-radius: 50%;
  min-width: 100px;
  min-height: 100px;
  background-color: var(--main-background);
  position: absolute;
}

.leftCaptionContent {
  max-width: 541px;
  min-height: 600px;
}

.leftCaptionContent p {
  white-space: normal;
  word-break: break-all;
}

.motivationalText {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  color: white;
  min-height: 88px;
}

#navItemLeft {
  margin-left: 15px;
}

#navItemRight {
  margin-right: 15px;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  min-height: 152px;
  min-width: 1007px;
}

#circleLeft {
  left: 76px;
}

#circleRight {
  left: -76px;
}

#greyCircle0 {
  top: 781px;
  left: 590px;
}

#greyCircle1 {
  top: 1407px;
  left: 1230px;
}

#leftCaption1 {
  flex-direction: row-reverse;
}

#leftCaptionCaption1 {
  flex-direction: row-reverse;
}

#greyBox20 {
  display: flex;
  align-items: center;
}

#greyBox21 {
  display: flex;
  justify-content: end;
  align-items: center;
}

#leftCaptionContent1 p {
  color: white;
  position: relative;
  left: -50px;
}

#leftCaptionContent0 p {
  color: white;
}
