:root {
  --main-color: #9a98fc;
  --accent-color: #7776c6;
  --main-background: #c4c4c4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  min-height: 100px;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
}

.navItem {
  background-color: var(--accent-color);
  max-height: 40px;
  min-width: 200px;
  margin-top: 10px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 216px;
  background-color: var(--main-background);
}

.circle {
  background-color: var(--accent-color);
  border-radius: 50%;
  min-width: 152px;
  min-height: 152px;
  position: relative;
}

.spacer {
  min-height: 26px;
  background-color: var(--main-color);
}

.showcase {
  min-height: 299px;
  /*background: url(photo-1516321318423-f06f85e504b3.jpg);*/
  mix-blend-mode: normal;
  border: 8px solid var(--main-color);
  filter: blur(16px);
}

#navItemLeft {
  margin-left: 15px;
}

#navItemRight {
  margin-right: 15px;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  min-height: 152px;
  min-width: 1007px;
}

#circleLeft {
  left: 76px;
}

#circleRight {
  left: -76px;
}
